:root {
    --text-color: #FFFCFF;
    --background-color: #1B2021;
    --section-color: #30343F;
    --primary-color: #7CDEDC;
    --secondary-color: #9E788F;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:visited {
    color: var(--text-color);
}


/* Main components */
.fixed {
    top: 0;
    left: 0;
    position: fixed;
}


.main-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit-content;
    padding: 3rem;
}

.max-vh {
    height: 100vh;

}

.margin-top {
    margin-top: 2rem !important;
}

.emphasize {
    width: max-content;
    border-left: 3px solid var(--section-color);
    font-size: 1rem;
    padding: 1.5rem;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

ul {
    margin-bottom: 0;
}

h1 {
    font-weight: 600;
    font-size: 4rem;
    margin: 0;
    line-height: 120%;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
}

h3 {
    margin: 0 1rem 0 0;
}

h4 {
    margin: 0.5rem 0 0 0;
    font-weight: 300;
    font-size: 1.2rem;
}

/* Other components */

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.icon {
    display: inline-block;
    margin-right: 1rem;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.icon:hover {
    transform: translateY(-0.5rem);

}

.card {
    width: 100%;
    background-color: var(--section-color);
    border-radius: 1rem;
    display: flex;
    padding: 1.5rem;
    margin-top: 1rem;
    font-weight: 300;
}

.project-card {
    display: flex;
    margin-top: 1rem;
    font-weight: 200;

}

.project-card:hover {

}

.skills-card {
    margin-top: 1rem;
    border-radius: 1rem;
    border: 3px solid var(--section-color);
    padding: 1.5rem;
    transition: all 300ms ease-out;
    transition-delay: 0.3s;
}

.skills-card:hover {
    border: 3px solid var(--primary-color);
    transition-delay: 0s;
}

.skills-card .skills {
    margin-top: 1rem;
    margin-left: 1rem;
}


.card-date {
    width: 25%;
    min-width: 6rem;
    padding-right: 1.5rem;
}

.card-image {
    min-width: 11rem;
}

.card-image img {
    width: 9rem;
    height: 9rem;
    border-radius: 1rem;
    object-fit: cover;
}

.card-content {
    width: 75%;
}

.card-link {
    display: flex;
    transition: color 300ms ease-in;
}

.card-link:hover {
    color: var(--primary-color);
}

.card-link img {
    transition: transform 300ms ease-in;
}

.card-link:hover img {
    transform: translateX(0.5rem);
}

.skill {
    display: inline-block;
    border-radius: 1rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 1em;
    font-weight: 400;
    padding: 0.3em 0.8em;
    white-space: nowrap;
    margin: 0 0.2em 0.5em 0;
}

.skillB {
    display: inline-block;
    border-radius: 1rem;
    background-color: var(--section-color);
    color: var(--text-color);
    font-size: 1rem;
    padding: 0.3rem 0.8rem;
    white-space: nowrap;
    margin: 0 0.2rem 0.5rem 0;
    transition: all 300ms step-start;
}

.skills-card:hover .skillB {
    background-color: var(--primary-color);
    color: var(--background-color);
}

/* Navigation */
nav {
    padding: 4rem 0;
}

nav ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 0.5rem 0;
    cursor: pointer;
    transition: transform 0.3s ease;
}

nav ul li:hover, .li-hovered {
    transform: translateX(0.5rem);
}

nav ul li::before {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 0.5rem;
    margin-right: 2rem;
    background-color: var(--section-color);
    transition: background-color 0.3s ease;
}

nav ul li:hover::before, .li-hovered::before {
    background-color: var(--primary-color);
}


/* Page section title */

.subsection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.subsection .line {
    width: 20%;
    height: 3px;
    background-color: var(--section-color);
}

.subsection .text {
    text-align: center;
    padding: 0 1.5rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(255, 252, 255, 0.5);
    user-select: none;
}

/* Snackbar / Toast */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    /*margin-left: -125px;*/
    background-color: var(--primary-color);
    color: var(--background-color);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    position: fixed;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    font-size: 1.1rem;
    box-shadow: 0 0 20px 0 var(--background-color);
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

/* Tablet */

@media only screen and (max-width: 80em) {
    body {
        flex-direction: column;
        justify-content: normal;
    }

    /* Navigation */
    nav {
        position: fixed;
        top:0;
        left:0;
        width: 100%;
        padding: 0;
    }

    nav ul {
        display: flex;
        justify-content: center;
        background-color: var(--background-color);
        box-shadow: 0 0 20px 0 #121415;
        height: 4rem;
    }

    nav ul li {
        margin: 0.5rem;
        position: relative;
        height: fit-content;
        display: flex;
        justify-content: center;
    }

    nav ul li:hover, .li-hovered {
        transform: unset;
    }

    nav ul li::before {
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 0.3rem;
    }

    .social-media {
        margin-top: 1.5rem;
        justify-content: unset;
    }

    .main-column:nth-child(1) {
        margin-top: 4rem;
        padding-bottom: 0;
    }

    .main-column:nth-child(2) {
        display: none;
    }

    .icon:hover {
        transform: unset;
    }

    .fixed {
        position: unset;
    }

    .main-column {
        width: 100%;
        padding: min(3rem, 3.3%);
    }

    h1 {
        font-size: 3rem;
    }
}

/* Mobile */

@media only screen and (max-width: 40em) {
    body {
        font-size: 15px;
    }

    h3 {
        margin: 0;
    }

    nav ul {
        height: 3.8rem;
    }

    nav ul li {
        font-size: 0.8rem;
    }

    .main-column {
        padding: 1rem;
    }

    .social-media {
        justify-content: center;
    }

    .card {
        flex-direction: column;
        padding: 1.3rem;
    }

    .card-content {
        width: 100%;
    }

    .card-date {
        width: 100%;
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
    }

    .project-card {
        flex-direction: column;
    }

    .project-card h3{
        text-align: justify;
    }

    .card-link {
        justify-content: center;
    }

    .card-image img {
        width: 100%;
    }

    .emphasize {
        font-size: 0.8em;
        padding: 1rem;
    }

    .subsection .line{
        width: 100%;
    }
    .subsection .text {
        padding: 0 1rem;
    }

    #snackbar {
        padding: 0.8rem;
        font-size: 0.9rem;
    }
}