a {
  text-decoration: none;
}

h2 {
  text-align: center;
}

.page {
  padding: 3rem 1rem 2rem 1rem;
  scroll-behavior: smooth;
}

.page > p {
  margin-top: 2rem;
  tab-size: 1rem;
}

.skills-page {
  display: flex;
  flex-direction: column;
}

.page ul {
  margin-top: 2rem;
  list-style-type: disc;
  list-style-position: inside;
}

.page li {
  margin-top: 0.2rem;
}

.page span {
  font-size: 1.3rem;
  font-weight: 500;
}

.page h3 {
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 0;
}

.page h2 {
  font-size: 2rem;
}

.page .desc {
  margin-top: 0.2rem;
}

.page a {
  background: linear-gradient(to bottom, #3098c5 0%, #3098c5 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 3px;
  color: #000;
  text-decoration: none;
  transition: background-size 0.2s;
}
.page a:hover {
  background-size: 4px 50px;
}

.show-case {
  display: flex;
  justify-content: center;
  margin-bottom: 3.5rem;
}

.show-case img {
  min-width: 12.5rem;
}
.show-case:first-of-type {
  margin-top: 3rem;
}

@media only screen and (min-width: 850px) {
  .skills-page {
    display: flex;
    flex-direction: row;
  }

  .page {
    padding: 4rem 2rem 2rem 3rem;
  }
}
